.h2__currency {
  text-align: center;
}

.currency {
  text-align: center;

  display: grid;
  grid-template-columns: 2fr 1fr 2fr;

  select {
    padding: .4rem;

    border: none;

    color: white;
    background: royalblue;

    option {
      color: currentColor;
    }
  }
}

.input__currency {
  padding: .5rem;

  border: 0px;
  border-bottom: 2px solid whitesmoke;

  color: white;
  background: transparent;
}